# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Игнорировать файлы классов
*.class

# Игнорировать папку target
/target/

# Игнорировать файлы конфигурации Maven

.idea/
.vscode/